/build/
/genesis_engine/build/
/.vs/
/.vscode/
CMakeFiles/
CMakeCache.txt
*.user
*.suo
*.log
*.tmp
snapshot_test.*
snapshot.tpra
data/elements/chemdb.bin
/genesis_engine/renderer/.godot/
/genesis_engine/renderer/addons/genesis_bridge/bin/
